[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rich = "*"
pyyaml = "*"
typer = "*"

[dev-packages]
rich = "*"
pyyaml = "*"
typer = "*"

[requires]
python_version = "3.10"
